.header .navbar .navbar-brand > img,
.header .navbar .navbar-brand > span {
  vertical-align: middle;
}

.header .navbar .navbar-brand > img {
  width: 35px;
  margin-right: 0.3rem;
}

.header .navbar .navbar-brand > span {
  font-family: "Orbitron", "Roboto", "Arial" !important;
  letter-spacing: 0.1rem;
}
