.form-group input.form-control {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-group button[type=submit] {
  width: 100%;
  padding: 0.7rem 0.2rem;
  margin-top: 0.7rem;
  border-radius: 2rem;
}

form .form-header {
  margin-bottom: 2.2rem;
}

form .form-header .title {
  font-size: 2rem;
  font-weight: 800;
}

form .form-header .link {
  margin-top: 0.5rem;
}

form .form-header .paragraph {
  font-size: 0.9rem;
  color: #6c757d;
}

.form-group .form-label,
.form-group button[type=submit] {
  font-weight: 600;
}

.auth-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.auth-items {
  display: flex;
  width: 1150px;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.auth-items .auth-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background-color: #1E293B;
  border-radius: 1rem 0 0 1rem;
}

.auth-items .auth-banner .title {
  z-index: 5;
}

.auth-items .auth-banner .title span {
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.auth-items .auth-form {
  width: 700px;
  padding: 4rem;
  background-color: #fff;
  border-radius: 0 1rem 1rem 0;
}

@media (max-width: 1199.98px) {
  .auth-wrapper {
    padding: 0.75rem;
  }

  .auth-items {
    width: 970px;
  }

  .auth-items .auth-form {
    width: 550px;
    padding: 3rem;
  }
}
@media (max-width: 991.98px) {
  .auth-wrapper {
    padding: 0.75rem;
  }

  .auth-items {
    width: 450px;
  }

  .auth-items .auth-banner {
    display: none;
  }

  .auth-items .auth-form {
    width: 100%;
    border-radius: 1rem;
  }
}
@media (max-width: 575.98px) {
  .auth-wrapper {
    padding: 0.5rem;
  }

  .auth-items {
    width: 100%;
  }

  .auth-items .auth-form {
    width: 100%;
    padding: 2rem;
  }
}
