html {
  direction: "ltr";
}

body,
input,
textarea,
button {
  font-family: "Inter", "Arial" !important;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hover-fade {
  transition: opacity 0.3s;
}

.hover-fade:hover {
  opacity: 0.7;
}

.btn.btn-hover {
  transition: box-shadow 150ms;
}

.btn.btn-lg.btn-hover {
  padding: 0.5rem 1.8rem;
}

.btn.btn-hover.btn-primary {
  box-shadow: 0 20px 20px -15px rgba(94, 96, 206, 0.8);
}
.btn.btn-hover.btn-primary:hover {
  box-shadow: 0 20px 25px -10px rgba(94, 96, 206, 0.8);
}

.btn.btn-hover.btn-secondary {
  box-shadow: 0 20px 20px -15px rgba(143, 156, 255, 0.8);
}
.btn.btn-hover.btn-secondary:hover {
  box-shadow: 0 20px 25px -10px rgba(143, 156, 255, 0.8);
}

.btn.btn-hover.btn-success {
  box-shadow: 0 20px 20px -15px rgba(126, 207, 74, 0.8);
}
.btn.btn-hover.btn-success:hover {
  box-shadow: 0 20px 25px -10px rgba(126, 207, 74, 0.8);
}

.btn.btn-hover.btn-info {
  box-shadow: 0 20px 20px -15px rgba(15, 153, 181, 0.8);
}
.btn.btn-hover.btn-info:hover {
  box-shadow: 0 20px 25px -10px rgba(15, 153, 181, 0.8);
}

.btn.btn-hover.btn-warning {
  box-shadow: 0 20px 20px -15px rgba(207, 203, 74, 0.8);
}
.btn.btn-hover.btn-warning:hover {
  box-shadow: 0 20px 25px -10px rgba(207, 203, 74, 0.8);
}

.btn.btn-hover.btn-danger {
  box-shadow: 0 20px 20px -15px rgba(207, 74, 74, 0.8);
}
.btn.btn-hover.btn-danger:hover {
  box-shadow: 0 20px 25px -10px rgba(207, 74, 74, 0.8);
}

.btn.btn-hover.btn-light {
  box-shadow: 0 20px 20px -15px rgba(248, 249, 250, 0.8);
}
.btn.btn-hover.btn-light:hover {
  box-shadow: 0 20px 25px -10px rgba(248, 249, 250, 0.8);
}

.btn.btn-hover.btn-dark {
  box-shadow: 0 20px 20px -15px rgba(38, 40, 96, 0.8);
}
.btn.btn-hover.btn-dark:hover {
  box-shadow: 0 20px 25px -10px rgba(38, 40, 96, 0.8);
}

.icon-circle-button,
.icon-circle-button-sm {
  border-radius: 50%;
}

.icon-circle-button {
  padding: 0.4rem;
}

.icon-circle-button-sm {
  padding: 0.3rem;
}

.icon-circle-button > i,
.icon-circle-button-sm > i {
  vertical-align: middle;
  text-align: center;
}

.icon-circle-button > i {
  min-width: 25px;
  min-height: 25px;
  line-height: 25px;
  font-size: 1.3rem;
}

.icon-circle-button-sm > i {
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
}

i.toggle-password-button-icon {
  min-width: 20px;
}

.scrollable-dropdown-menu {
  min-width: 200px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
