.about .image {
  display: flex;
  align-items: center;
  height: 100%;
}

.about .image img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: #fff;
  border: 6px solid #e9ecef;
  border-radius: 0.25rem;
}

.about .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about .info .title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.about .info .description {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.3rem;
  text-align: justify;
}

.about .info .links {
  margin-top: 1.5rem;
}

.about .info .links .btn:not(:first-child) {
  margin-left: 0.8rem;
}

@media (max-width: 991.98px) {
  .about .info {
    margin-top: 1.5rem;
  }
}
