@{
    Layout = "_BaseLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/bundle/css/base-panel.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="styles.css" />
    @RenderSection("Styles", required: false)
}

    @section Scripts{
    <script src="~/bundle/js/base-panel.min.js" asp-append-version="true"></script>

    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function() {
            el.classList.toggle("toggled");
        };
    </script>
    @RenderSection("Scripts", required: false)
}

    <div>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light" id="sidebar-wrapper">
                <div class="sidebar-heading text-center py-4 text-white fs-4 fw-bold text-uppercase border-bottom">
                    <img src="~/img/logo-colored.png" width="35" />Zencode
                </div>
                <div class="list-group list-group-flush my-3 text-light">
                    <ul class="list-unstyled nav">
                        
                         <li class=" w-100 mb-2">
                            <a href="#" class="nav-link text-white mx-3 active rounded-2">
                                <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                            </a>
                        </li>

                        <li class=" w-100 mb-2">
                            <a href="#" class="nav-link text-white mx-3 rounded-2">
                                <i class="fas fa-server me-2"></i>Servers
                            </a>
                        </li>
                       
                       
                        <li class=" w-100 mb-2">
                            <a href="#" class="nav-link text-white  mx-3 rounded-2">
                                <i class="fas fa-users me-2"></i>Users
                            </a>

                        </li>

                        <li class=" w-100 mb-2">
                            <a href="#" class="nav-link text-white  mx-3 rounded-2">
                                <i class="fas fa-industry me-2"></i>Integration
                            </a>
                        </li>

                    </ul>

                   
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-bg py-4 px-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                        <h2 class="fs-2 m-0">Dashboard</h2>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark fw-bold" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-2 text-dark"></i>Hussaini
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

