$direction: "ltr";

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #5e60ce;
$dark-blue: #3c3e84;
$darker-blue: #262860;
$indigo: #8f9cff;
$purple: #6f42c1;
$pink: #d63384;
$red: #cf4a4a;
$orange: #fd7e14;
$yellow: #cfcb4a;
$green: #7ecf4a;
$teal: #20c997;
$cyan: #0f99b5;

$primary: $blue;
$secondary: $indigo;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $darker-blue;

$body-bg: $light;
$body-color: $dark;
