@import '_mixins-global.scss';
@import "../lib/bootstrap/scss/_functions.scss";
@import '_variables-global.scss';
@import "../lib/bootstrap/scss/_variables.scss";

.header .navbar .navbar-brand > img,
.header .navbar .navbar-brand > span {
    vertical-align: middle;
}

.header .navbar .navbar-brand > img {
    width: 35px;
    @include margin-end(.3rem);
}

.header .navbar .navbar-brand > span {
    font-family: 'Orbitron', 'Roboto', 'Arial' !important;
    letter-spacing: .1rem;
}
