@{
    Layout = "_BaseLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/bundle/css/base-auth.min.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
}

    @section Scripts{
    <script src="~/bundle/js/base-auth.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
}

    <main class="auth-wrapper">
        <div class="auth-items">
            <div class="auth-banner">
                <div class="title">
                    <img src="~/img/logo.svg" class="w-50" alt="Logo" />
                    <span>Welcome to</span>
                    <span>Zenbot</span>
                </div>
            </div>

            <sections class="auth-form">
                @RenderBody()
            </sections>
        </div>
    </main>
