@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>@ViewData["Title"] - Pointer</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/Identity/css/site.css" />*@
    @*<link rel="stylesheet" href="~/Identity/css/styles.css" />*@
    <link href="~/css/index.css?v=1" rel="stylesheet" />

</head>
<body class="d-flex align-items-center">
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="brand" href="~/">ZenCode</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        @{
                            var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                        }
                        @if (result.Success)
                        {
                            await Html.RenderPartialAsync("_LoginPartial");
                        }
                        else
                        {
                            throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                                "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                                $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                        }
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="container">

        @RenderBody()

    </div>
    @*<footer class="footer border-top text-muted">
            <div class="container">
                &copy; 2021 - WebUI - <a asp-area="" asp-page="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/612f270ed6e7610a49b30811/1feg3152r';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</body>
</html>

<style>
    .navbar {
        background-color: #242938 !important;
        
    }

    
</style>
