@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/bundle/css/home-index.min.css" asp-append-version="true" />
}

    <h3 class="text-info">Home Index</h3>
